# **Multi-Index DataFrame**

Create a multi-index DataFrame using the following data and 
perform indexing to select sales of 'Product B' in '2023-Q2'
| Year | Quarter | Product | Sales | 
   |------|---------|---------|-------| 
   | 2023 | Q1      | A       | 200   | 
   | 2023 | Q2      | B       | 350   | 
   | 2023 | Q3      | C       | 400   | 
   | 2023 | Q2      | A       | 300   |

In [13]:
import pandas as pd
import numpy as np

#create a multi-index DataFrame
data = {
    'Year': [2023, 2023, 2023, 2023],
    'Quarter': ['Q1', 'Q2', 'Q3', 'Q2'],
    'Product': ['A', 'B', 'C', 'A'],
    'Sales': [200, 350, 400, 300]
}

df = pd.DataFrame(data)
df.set_index(['Year', 'Quarter', 'Product'], inplace=True)
print("Multi-Index DataFrame:")
print(df)
print("\n")

B_sales = df.loc[(2023, "Q2", "B"), "Sales"]
print(f"Sales for Product B in Q2 2023: {B_sales}\n")

Multi-Index DataFrame:
                      Sales
Year Quarter Product
2023 Q1      A          200
     Q2      B          350
     Q3      C          400
     Q2      A          300


Sales for Product B in Q2 2023: 350

# **Datetime Operations**

 Read a CSV file `transactions.csv` with columns 
`TransactionID`, `Date`, `Amount`. Convert `Date` to datetime, 
extract `month` and `day`, and filter transactions from January 
2025.

In [7]:
df = pd.read_csv('D:/pythonML-class/transactions.csv')

df['Date'] = pd.to_datetime(df['Date'])

# Extracting month and day
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

# Filtering the transactions from January 2025
jan = df[df['Date'].dt.month == 1]
print("Transactions from January 2025:")
print(jan)

Transactions from January 2025:
   TransactionID       Date  Amount  Month  Day
0              1 2025-01-05     250      1    5
1              2 2025-01-15     400      1   15
4              5 2025-01-20     300      1   20

# **Handling Missing Data**

Given a DataFrame with missing values in `Age` and `Salary`, 
perform the following: 
   - Fill missing `Age` with median age. 
   - Fill missing `Salary` with forward fill method. 
   - Drop rows where all values are missing.

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, None, 30, None, 22],
    'Salary': [50000, 60000, None, None, 52000]
}

df = pd.DataFrame(data)
print("Original DataFrame with Missing Values:")
print(df)

Original DataFrame with Missing Values:
      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob   NaN  60000.0
2  Charlie  30.0      NaN
3    David   NaN      NaN
4      Eva  22.0  52000.0

In [ ]:
# Filling missing Age with median age
median_age = df['Age'].median()
df['Age'].fillna(median_age, inplace=True)
# Filling missing Salary with forward fill method
df['Salary'].fillna(method='ffill', inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_11416\288714547.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(median_age, inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_11416\288714547.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(method='ffill', inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_11416\288714547.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Salary'].fillna(method='ffill', inplace=True)

In [ ]:
df.dropna(how='all', inplace=True)
print("DataFrame after handling the missing data:")
print(df)

DataFrame after Handling Missing Data:
      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  25.0  60000.0
2  Charlie  30.0  60000.0
3    David  25.0  60000.0
4      Eva  22.0  52000.0

# **Pivot Table** 
   Using the following dataset, create a pivot table showing
   average salary for each Department per Gender. 
 
   | Name  | Department | Gender | Salary | 
   |-------|------------|--------|--------| 
   | John  | IT         | M      | 75000  | 
   | Alice | IT         | F      | 62000  | 
   | Bob   | HR         | M      | 50000  | 
   | Clara | HR         | F      | 52000  |

In [15]:
data = {
    'Name': ['John', 'Alice', 'Bob', 'Clara'],
    'Department': ['IT', 'IT', 'HR', 'HR'],
    'Gender': ['M', 'F', 'M', 'F'],
    'Salary': [75000, 62000, 50000, 52000]
}

df = pd.DataFrame(data)

pivot_table = pd.pivot_table(df, values='Salary', index='Department',columns="Gender", aggfunc="mean")
print(pivot_table)

Gender            F        M
Department
HR          52000.0  50000.0
IT          62000.0  75000.0

# **Apply & Lambda**
   Create a column Tax where: 
   - If Salary > 60000, tax is 10% 
   - Else tax is 5% 
   Use apply() with a lambda function.

In [ ]:
df['Tax'] = df['Salary'].apply(lambda x: x * 0.10 if x > 60000 else x * 0.05)
print("DataFrame with Tax column:")
print(df)

DataFrame with Tax column:
    Name Department Gender  Salary     Tax
0   John         IT      M   75000  7500.0
1  Alice         IT      F   62000  6200.0
2    Bob         HR      M   50000  2500.0
3  Clara         HR      F   52000  2600.0

# **Merging DataFrames**
   Merge the following two DataFrames on EmployeeID and 
display only employees present in both: 
 
   df1: 
   | EmployeeID | Name  | Department | 
   |------------|-------|------------| 
   | 101        | John  | IT         | 
   | 102        | Alice | HR         | 
 
   df2: 
   | EmployeeID | Salary | 
   |------------|--------|
   | 101        | 75000  | 
   | 103        | 62000  |

In [18]:
data1 = {
    'EmployeeID': [101, 102],
    'Name': ['John', 'Alice'],
    'Department': ['IT', 'HR']
}
data2 = {
    'EmployeeID': [101, 103],
    'Salary': [75000, 62000]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
merged_df = pd.merge(df1, df2, on='EmployeeID', how='inner')
print(merged_df)

   EmployeeID  Name Department  Salary
0         101  John         IT   75000

# **String Operations**
   From a column Email, extract username (before @) and 
domain (after @) into separate columns using vectorized 
string methods.

In [20]:
data = {
    'Email': ['dipeshresthaaa@gmail.com', 'rahul123@yahoo.com', 'susanytx@nlk.org.np']
}
df = pd.DataFrame(data)
df['Username'] = df['Email'].str.split('@').str[0]
df['Domain'] = df['Email'].str.split('@').str[1]
print(df)

                      Email        Username      Domain
0  dipeshresthaaa@gmail.com  dipeshresthaaa   gmail.com
1        rahul123@yahoo.com        rahul123   yahoo.com
2       susanytx@nlk.org.np        susanytx  nlk.org.np

# **GroupBy with Multiple Aggregations**
   Group a sales dataset by Region and Product and calculate: 
   - Total Sales 
   - Average Sales 
   - Count of Transactions

In [22]:
data = {
    'Region': ['East', 'South', 'North', 'East', 'West'],
    'Product': ['A', 'B', 'A', 'A', 'B'],
    'Sales': [200, 350, 400, 300, 450]
}
df = pd.DataFrame(data)
grouped = df.groupby(['Region', 'Product']).agg(
    Total_Sales=('Sales', 'sum'),
    Average_Sales=('Sales', 'mean'),
    Transaction_Count=('Sales', 'count')
).reset_index()
print(grouped)

  Region Product  Total_Sales  Average_Sales  Transaction_Count
0   East       A          500          250.0                  2
1  North       A          400          400.0                  1
2  South       B          350          350.0                  1
3   West       B          450          450.0                  1

# **Reshaping Data**
   Convert a wide-format DataFrame into a long-format using 
melt() and then pivot it back to original wide format using 
pivot_table().

In [25]:
data = {
    'Year': [2025, 2024, 2023, 2023],
    'Q1_Sales': [200, 150, 300, 250],
    'Q2_Sales': [220, 180, 320, 270]
}
df = pd.DataFrame(data)
melt_df = pd.melt(df, id_vars=['Year'], value_vars=['Q1_Sales', 'Q2_Sales'], var_name='Quarter', value_name='Sales')
print(melt_df)

   Year   Quarter  Sales
0  2025  Q1_Sales    200
1  2024  Q1_Sales    150
2  2023  Q1_Sales    300
3  2023  Q1_Sales    250
4  2025  Q2_Sales    220
5  2024  Q2_Sales    180
6  2023  Q2_Sales    320
7  2023  Q2_Sales    270

# **Advanced Filtering**
    Using a DataFrame with columns Name, Age, Department, 
Salary, apply multiple conditions to filter: 
    - Employees in IT department with Age > 30 
    - Salary between 50000 and 70000

In [ ]:

data = {
    'Name': ['Ram', 'Maya', 'Chitra', 'Shyamm', 'Hari'],
    'Age': [23, 34, 29, 40, 32],
    'Department': ['IT', 'HR', 'IT', 'CS', 'IT'],
    'Salary': [62000, 75000, 55000, 45000, 68000]
}
df = pd.DataFrame(data)
filtered_df = df[(df['Department'] == 'IT') & (df['Age'] > 30) & (df['Salary'].between(50000, 70000))]
print("Filtered DataFrame:")
print(filtered_df)

Filtered DataFrame:
   Name  Age Department  Salary
4  Hari   32         IT   68000